*{padding: 0px  ;
margin: 0px
}
ul{list-style: none}
a{text-decoration: none}
.clearfix{content: "";display: block;clear: both;background: #f1f1f1}
li{float: left;font-size:14px;color: #666666;border-right: 1px solid  #dddddd ;padding-left:10px;padding-right: 12px }
