*{margin: 0;
    padding: 0  }
div.l1,ul{list-style: none}
a{text-decoration: none
}
.clearfix:after,
.clearfix:before{content: ""
;display: block;clear: both}
.l1{background: red;
    width: 970px;height: 442px;
    margin:  auto;
    margin-top: 200px;border-right: 4px solid  #f6f6f6
}
.l2{background: burlywood;float: left;width: 950px;height: 59px;margin-left:5px;border-bottom:3px solid #eceef4}
.l3{float: left;background: blue
;width: 215px;height: 118px;margin-left: 5px;margin-top:20px;border-bottom:1px dotted #d7d7d7 }
.l4{float: left;background:yellow;
;width: 709px;height: 124px;margin-left: 25px;margin-top:15px;}
.l5{float: left;width: 215px;height: 238px;margin-left: 5px;}
.l6{float: left;background:green;
;width: 709px;height: 221px;margin-left: 25px;margin-top:0px;}
