*{
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, "ו"}

ul{
    list-style: none;
}
a{text-decoration:none;
}
input{
    outline: none;
}
.clearfix:before,.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
body {min-width:1229px}
.w1229{width: 1229px;margin: 0 auto;}
.wai {height:33px;background: #f2f2f2;border-bottom: 1px solid #e5e5e5;}
.tbox{height: 33px; line-height: 33px}
.tbox1{float: left}
.tbox2{float: right}
.tbox1 li,.tbox2 li{float: left;font-size:14px;color:#999999;height: 33px;  }
.tbox1 li a,.tbox2 li a{font-size:14px;color:#999999}
.tbox1 li{margin-right:27px ; }
.tbox2 li{margin-right: 26px}
.tbox2 .lr {margin-right:6px;padding-left: 10px;padding-right: 6px}
.tbox li span{display:inline-block;}
.tbox .jt{border: 4px solid transparent;height: 3px;
    border-top: 4px solid #999999;vertical-align:-5px}
.tbox2 .ls{margin-right:12px; }
.tbox2 .ls i{font-style: normal; font-size:17px;color:#cccccc; }
.tbox1 li .l1{width:14px;height:11px;background: url("TB.png") }
.tbox2 li .l2{width:14px;height:12px;background: url("TB.png") -14px 0}
.tbox2 li .l3{width:14px;height:13px;background: url("TB.png") -30px 0}
.tbox2 li .l4{width:12px;height:12px;background: url("TB.png") -45px 0}
.xl div{width: 94px;height: 56px;border:1px solid #eeeeee;position: absolute;
top:33px;left: 0px; display: none}
.tbox2 .xl {padding-left:10px;padding-right:6px;margin-right:11px;position: relative;}
.xl div p{font-size: 12px;
color: #666666;text-align: center;margin-top: 2px;height: 20px}
.hg:hover a{ text-decoration:  underline;color:#c40000}
.xl:hover div{background: #ffffff;border-top:1px solid #ffffff; display: block}
.xl:hover{background: #ffffff; border-right: 1px solid #eeeeee;border-left: 1px solid #eeeeee;}
.txBox h1{float: left;}
.txBox{height: 84px;margin-top:34px }
.txBox1{float: right;position:relative;}
.txBox1 input[type=text]{padding-left:12px ;
    width: 560px;height: 34px;border:3px solid #c40000;border-right: transparent}
.txBox1 input[type=button]{width:112px;height: 32px;font-size:20px;color: #f1ebff;background: #c40000;position:absolute;top: 4px;right: 0px;border:1px solid #c40000   }
.txBox1 span{font-size: 14px;color: #999999;border-right: 1px solid #999999;padding-right: 16px;padding-left: 10px;}
.txBox1 .yr{padding-left:1px }
.txBox1 .mj{border-right: transparent}
.im{height:450px;background: url("ertong_03.jpg" ) 100% 100% no-repeat}
.txBox1 div{margin-top: 7px}
.topDT{height: 450px;background:#fdc70d }
.cenBJ {background: #ffeeab}
.w990{margin: 0 auto;width: 990px}
.cenBJ{padding-top:20px}
.cenBJ .yh{height:194px;background:#ffffff;}
.yh img{float: left}
.yh ul{float: right;width: 620px;height: 200px;background: #ffffff}
.yh ul .gw{margin-left: 235px;margin-right:70px;margin-top:13px; }
.yh ul .gw a{font-size:26px; color: #fffaf5;border: 1px solid #ff8800;background: #ff8800;padding:0px 17px 7px 26px;border-radius:30px;}
.yh ul li .gl{margin-left: 6px}
.yh ul li p{font-size: 24px;color: #ff4652;margin-top:14px;margin-left: 208px }
ul .jf{width:491px;height:74px ;background: #ff4652;border-radius:45px;margin-left: 106px;padding-top: 10px ; cursor: pointer}
ul .jf .cj p{font-size: 19px;color: #ffffff;margin-top:-4px;margin-left: 199px}
ul .jf .cj b{display:block;font-size:26px; color: #ffffff;margin-left:196px;padding-top: 10px }
.jj{width: 988px;height: 97px;margin:0 auto;background: url("02.jpg");border: 1px solid #fff9b3;margin-top:20px;margin-bottom: 20px}
.jhsp ul li{float: left;margin-right:12px;width: 317px;height: 301px;background:#ffffff;position: relative}
.jhsp ul li img{width: 317px;height: 180px;}
.jhsp{height: 301px}
.jhsp ul li .ms {width:317px;height: 19px;font-size: 14px;color:#ffffff;line-height: 19px;text-align: center;position: absolute;top:160px;left: 0px;background: rgba(128, 128, 128, .7); }
.jhsp ul li .dz{width: 317px;height: 29px;font-size:12px;color: #f65e4c;line-height: 29px;text-align: center; }
.jhsp ul li .jq{width: 317px;height:51px;border-top: 1px solid #fcced7;}
.jhsp ul li .jq img{float: left;width: 202px;height: 51px}
.jhsp ul li .jq p{float: left}
.jhsp ul li .jq span{display:block;font-size: 12px;
color: #a1a1a1;margin-top: 12px;padding-left: 4px}
.jhsp ul li .jq  .etj{display:block;font-size: 12px;
    color: #ee0d3b;padding-left: 0px;margin-top: 6px }
.jhsp ul li .buy{width: 312px;height: 30px;
font-size:12px;color:#ffffff;line-height: 30px;text-align: center;background:#ee0d3b;margin: 0 auto }
.mh {height: 892px;}
.mh ul li{width: 190px;height: 290px;float: left;margin-right: 8px;margin-top:8px;background: #ffffff;position: relative;}
.mh ul .dsn img{width: 190px;height: 290px;}
.mh ul .lBuy .hhzTP{width: 190px;height: 180px}
.mh ul .lBuy .hhz{font-size: 12px;color:#ffffff;width: 190px;height:20px;text-align: center;
    background: rgba(116,119,127, .7);position:absolute; top: 160px;left: 0px}
.mh ul .lBuy .hhzlog {width:190px;height: 44px }
.mh ul .lBuy .cmp{font-size:16px;color: #ff1b50;text-align: center;font-weight:900 }
.mh ul .lBuy div{width: 182px;height: 30px;margin-top: 6px}
.mh ul .lBuy div .q{display:inline-block;font-size: 14px;color: #ff5363;width: 27px;height: 28px;border: 1px dashed #ff5363;line-height: 28px;text-align: center;border-right: transparent;margin-left: 4px;}
.mh ul .lBuy div .m{display:inline-block;font-size: 14px;color: #ff5363;width: 59px;height: 28px;border: 1px dashed #ff5363;line-height: 28px;text-align: center;}
.mh ul .lBuy div a .ljgm{width:78px;height: 21px;font-size: 14px;color:#ffffff;background:#ff1b50;display:inline-block;vertical-align: top;margin-left: 4px;padding-top: 9px;padding-left:7px;  }
.mh1 {height: 690px;}
.mh1 ul li{width: 190px;height: 290px;float: left;margin-right: 8px;margin-top:8px;background: #ffffff;position: relative;}
.mh1 ul .dsn img{width: 190px;height: 290px;}
.mh1 ul .lBuy .hhzTP{width: 190px;height: 180px}
.mh1 ul .lBuy .hhz{font-size: 12px;color:#ffffff;width: 190px;height:20px;text-align: center;
 background: rgba(116,119,127, .7);position:absolute; top: 160px;left: 0px}
.mh1 ul .lBuy .hhzlog {width:190px;height: 44px }
.mh1 ul .lBuy .cmp{font-size:16px;color: #ff1b50;text-align: center;font-weight:900 }
.mh1 ul .lBuy div{width: 182px;height: 30px;margin-top: 6px}
.mh1 ul .lBuy div .q{display:inline-block;font-size: 14px;color: #ff5363;width: 27px;height: 28px;border: 1px dashed #ff5363;line-height: 28px;text-align: center;border-right: transparent;margin-left: 4px;}
.mh1 ul .lBuy div .m{display:inline-block;font-size: 14px;color: #ff5363;width: 59px;height: 28px;border: 1px dashed #ff5363;line-height: 28px;text-align: center;}
.mh1 ul .lBuy div a .ljgm{width:78px;height: 21px;font-size: 14px;color:#ffffff;background:#ff1b50;display:inline-block;vertical-align: top;margin-left: 4px;padding-top: 9px;padding-left:7px;  }
